@media screen and (min-device-width: 768px) {

    .form-container{

        display: block;

        margin: 40px auto;

        width: 400px;

        height: 600px;

        padding: 40px;

        justify-content: center;

        position: relative;

        /*border: 2px solid rgb(0, 0, 0);*/

        background-image: url("./image/holey+cheese.jpg");
    }

    .form-content{

        /*border: 2px solid rgb(0, 0, 0);*/

        height: 100%;


    }

    .form{

        text-align: center;

        font-size: large;

    }

    .form h1{

        color: rgb(0, 0, 0);

    }

    .form-inputs{

        margin-top: 10px;

        margin-right: 20px;

        margin-left:20px ;

    }

    .form-label{

        display: inline-block;

        width: 100%;

        text-align: left;

        margin-bottom: 5px;

    }

    .form-input{
        display: inline-block;

        width: 100%;

        padding: 6px;

        border: none;

        border-bottom: 2px ridge #8d8d8d;

        background-color: transparent;

        color: rgb(58, 58, 58);

        font-size: 16px;

    }

    .form-input:focus{

        outline: none;

        border: none;

        border-bottom: 2px solid #000000;

        background-color: rgba(255, 255, 255, 0.377);

    }

    .form-input:disabled{

        outline: none;

        border: 2px solid #000000;

        background-color: rgba(255, 255, 255, 0.719);

        color: rgb(99, 99, 99);

    }

    .form-input::placeholder{
        color: rgb(105, 105, 105);
    }

    .form-inputs p {
        color: red;

        font-size: 14px;
    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px)

{

    .form-container{

        display: block;

        margin: 10px auto;

        width: 80%;

        height: 500px;

        padding: 30px;

        justify-content: center;

        position: relative;

        /*border: 2px solid rgb(0, 0, 0);*/

        background-image: url("./image/holey+cheese.jpg");

    }

    .form-content{

        /*border: 2px solid rgb(0, 0, 0);*/


        height: 100%;

    }

    .form{

        text-align: center;

        font-size: large;

    }

    .form h1{

        color: rgb(25, 26, 25);

    }

    .form-inputs{

        margin-top: 10px;

        margin-right: 20px;

        margin-left:20px ;

    }

    .form-label{

        display: inline-block;

        width: 100%;

        text-align: left;

    }

    .form-input{

        display: inline-block;

        width: 100%;

        padding: 6px;

        border: none;

        border-bottom: 2px ridge #8d8d8d;

        background-color: transparent;
    }

    .form-input::placeholder{
        color: steelblues;
    }

    .form-inputs p {
        color: red;

        font-size: 10px;
    }
}